.jumbotron {
	background-image: url("../img/header.jpg");
	background-size: 100%;
    text-align: center;   
}

.panel-primary > .panel-heading {
    background: #5b01e0; color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.well {
    background: #9c62f4; color: rgb(6, 0, 0);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}


.jumbotron > h1 {   
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: white;
}


